.button {
    margin-left: 10px;

    border-radius: 4px;
    background-color: royalblue;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Alegreya Sans', sans-serif !important;
    font-weight: bold;
    color: white;

    border: none;
    cursor: pointer;
}

.button.inactive p {
    color: #cccccc
}

.button.inactive {
    border: 1px dotted #cccccc;
    background-color: white;
    cursor: default;
}

.button p {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-weight: bold;
    color: white;
}