.SuggestContentsMainContainer {
    margin: 50px;
    padding: 30px;
}

.suggest-row-container {
    display: flex;
    justify-content: space-evenly;

    border-bottom: rgba(0, 0, 0, 0.05) solid 1px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.suggest-body .suggest-col-container:nth-child(1) {
    width: 40%;
}

.suggest-body .suggest-col-container:nth-child(2) {
    width: 60%;
}

.suggest-header .suggest-col-container:nth-child(1) {
    width: 40%;
}

.suggest-header .suggest-col-container:nth-child(2) {
    width: 20%;
}

.suggest-header .suggest-col-container:nth-child(3) {
    width: 40%;
}

.suggest-adj-sentence-container {
    display: flex;
    width: 100;
}

.suggest-closed {
    height: 36px;
    overflow: hidden;
}

.suggest-original-line {
    display: flex;
}

.suggest-adj-sentence-container .suggest-word-container:hover {
    background-color: darkkhaki;
}

.highlight-adjective {
    font-weight: bold;
    color: darkkhaki;
}

.adj-container {
    flex-basis: 33.333%;
    display: flex;
    align-items: flex-start;
}

.adj-container .adj-content {
    width: 100%;
}

.adj-container .open-button {
    height: 36px;
    display: flex;
}

.sentence-container {
    flex-basis: 66%;
}

.sentence-hidden {
    display: none;
}

.suggest-col-container {
    width: 200px;
}

.suggest-col-container .suggest-word-container {
    padding: 10px;
    cursor: pointer;
}

.suggest-header {
    border-bottom: black solid 1px !important;
}

.suggest-header p {
    font-weight: bold;
    font-size: 24px;
}

.GenerateButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.generate-button {
    width: 100px;
    height: 30px;
}

.selected {
    font-weight: bold;
}