<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'SuggestAdjectives/libs.html' %}
</head>
<body class="bg-light">
    <form method="post" action="{% url 'SuggestAdjectives:SelectWords' %}">
        {% csrf_token %}
        <div class="website-name">
            <p>Synstyle</p>
        </div>
        <div class="InputContentsMainContainer bg-blue rounded-box shadow-box">
            <h1>Enter your text</h1>
            <div class="TextAreaContainer">
                <label>
                    <textarea name="input-text" class="input-box"></textarea>
                </label>
            </div>
            <div class="SubmitButtonContainer">
                <input type="submit" class="button submit-button" value="Select">
            </div>
        </div>
    </form>
</body>
</html>