<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/input_contents.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/suggest.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/generated.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/select.css' %}">


