{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/input_contents.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/suggest.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/generated.css' %}">


