<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'SuggestAdjectives/style.css' %}">
</head>
<body>
    <div class="MainContentContainer rounded-box white-box" >
        <h1>Hello World!</h1>
        <p class="main-text">Lorem ipsum dolor sit amet</p>
        <div class="WordItemContainer">
            <div class="WordDescriptionContainer gray-box">
                <p class="word-text">GOOD</p>
                <p class="word-pro">[good]</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">to be desired or approved of.</p>
            </div>
        </div>
        <div class="WordItemContainer">
            <div class="WordDescriptionContainer gray-box">
                <p class="word-norm">Synonyms for </p>
                <p class="word-bold">good</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">enjoyable</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">pleasant</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">agreeable</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">pleasing</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">pleasurable</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">delightful</p>
            </div>
        </div>
        <div class="WordItemContainer">
            <div class="WordDescriptionContainer gray-box">
                <p class="word-norm">Antonyms for </p>
                <p class="word-bold">good</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">disagreeable</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">expected</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">inferior</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">insignificant</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">ordinary</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">poor</p>
            </div>
            <div class="WordDescriptionContainer gray-box">
                <p class="word-pro">second-rate</p>
            </div>
        </div>
    </div>
</body>
</html>