<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adjective Suggestion</title>
    {% include 'SuggestAdjectives/libs.html' %}
    {% load static %}
    <script type="text/javascript" src="{% static '/js/suggest.js' %}"></script>
</head>
<body class="bg-light">
    {% load index %}
    {% load dict_key %}
    <form method="post" action="{% url 'SuggestAdjectives:Generated' %}">
        {% csrf_token %}
        <div class="SuggestContentsMainContainer bg-white rounded-box shadow-box">
            <div class="suggest-row-container suggest-header">
                <div class="suggest-col-container">
                    <p>Original</p>
                </div>
                <div class="suggest-col-container">
                    <p>Adjective</p>
                </div>
                <div class="suggest-col-container">
                    <p>Suggested</p>
                </div>
            </div>

            <div id="suggest-body" class="suggest-body">
                {% for sentence, adj_dict in generated.items %}
                <div class="suggest-row-container">
                    <div id="sentence-{{ forloop.counter }}" class="suggest-col-container suggest-original-line">
                        {% for word in original|index:forloop.counter0 %}
                        <p id="{{ word }}">{{ word }}&nbsp</p>
                        {% endfor %}
                        <input type="hidden" name="sentence-{{ forloop.counter }}" value="{{ sentence }}">
                    </div>
                    {% with sentence_id=forloop.counter %}
                        <div class="suggest-col-container">
                            {% for adj, synonyms in adj_dict.items %}
                            <div class="suggest-adj-sentence-container">
                                <div id="adj-{{ sentence_id }}-{{ forloop.counter }}" class="adj-container">
                                    <div class="open-button cursor-pointer">
                                        <img src="{% static '/img/open.svg' %}">
                                    </div>
                                    <div class="suggest-word-container adj-content">
                                    <p>{{ adj }}</p>
                                    </div>
                                </div>
                                <div id="synonym-{{ sentence_id }}-{{ forloop.counter }}" class="sentence-container">
                                    {% for syn in synonyms %}
                                    <div class="suggest-word-container">
                                        <p>{{ syn }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>

        <div class="GenerateButtonContainer">
            <input type="submit" class="button generate-button" value="Generate">
        </div>
        </div>
    </form>
</body>
</html>